NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/crew_control
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d
BACKEND_URL=https://crewio.onrender.com
FRONTEND_URL=https://crewio-rust.vercel.app
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=onboarding@resend.dev
AI_SERVICE_URL=https://crewio-ai-services.onrender.com

VITE_API_URL=http://localhost:5000/api
